.idea
src/*/target
src/*.iml
src/*/*.iml
src/*/.springBeans
src/*/@app.log.folder@/
src/**/logs
src/**/file
@app.log.folder@
modules
node_modules/
.history/
.gulp/
deploy-pim-desktop
*.css.map
*.sass.map
*.scss.map
*.tap
*.A01